<h1>Angular HTTP Basics </h1>
<button (click)="getPosts()"> Get Posts</button>
<h3>Stream data</h3>

<div *ngIf="postwithuser$ | async as posts">
  <p *ngFor="let post of posts">
    {{post.id}} 
  </p>
</div>

<h3> Get Data</h3>

  <!-- {{ post |json}} -->
  <table>
    <tr>
      <th>
        ID
      </th>
      <th>
        User ID
      </th>
      <th>
        Title
      </th>
      <th>
        Body
      </th>
    </tr>
    <tr *ngFor="let post of posts">
      <td>
        {{post.id}}
        </td>
        <td>
          {{post.userId}}
          </td>
          <td>
            {{post.title}}
            </td>
            <td>
              {{post.body}}
              </td>
      </tr>
  </table>

<button (click)="createPost()">
  Post Data
</button>

<h3> Post data</h3>
{{newPost |  json }}